<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отсортированные товары</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>
            Warehouse Management System
            <small>WMS</small>
        </h1>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/}">Главная</a>
                    </li>
                    <li class="active">
                        <a th:href="@{/allProducts}">Просмотр товаров</a>
                    </li>
                    <li>
                        <a th:href="@{/productsManage}">Менеджмент товаров</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <p>Тестовый проект с использование Java Spring Framework и шаблонизатора Thymeleaf</p>
</div>

<div class="container">

    <form th:action="@{/sortedProducts}" method="get">
        <div class="form-group row">
            <div class="col-sm-2">Тип продукта</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" name="FOOD">
                    <label class="form-check-label" for="gridCheck1">
                        FOOD
                    </label>

                    <input class="form-check-input" type="checkbox" id="gridCheck2" name="JEWELRY">
                    <label class="form-check-label" for="gridCheck2">
                        JEWELRY
                    </label>

                    <input class="form-check-input" type="checkbox" id="gridCheck3" name="CLOTHES">
                    <label class="form-check-label" for="gridCheck3">
                        CLOTHES
                    </label>

                    <input class="form-check-input" type="checkbox" id="gridCheck4" name="BEATING">
                    <label class="form-check-label" for="gridCheck4">
                        BEATING
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Сортировать</button>
            </div>
        </div>
    </form>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID товара</th>
            <th scope="col">Название товара</th>
            <th scope="col">Описание товара</th>
            <th scope="col">Цена товра</th>
            <th scope="col">Статус</th>
            <th scope="col">Количество</th>
            <th scope="col">Тип товара</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${sortedProducts}">
            <th scope="row" th:text="${product.getId()}">ID</th>
            <td th:text="${product.getProductName()}"></td>
            <td th:text="${product.getProductDescription()}"></td>
            <td th:text="${product.getProductPrice()}"></td>
            <td th:text="${product.getProductStatus()}"></td>
            <td th:text="${product.getProductStock()}"></td>
            <td th:text="${product.getProductType()}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>